# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.env

# Keep env example, ignore actual env
backend/.env

# Docker
*.log

# Flutter / Dart
mobile/.dart_tool/
mobile/build/
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/app/debug/
mobile/android/app/profile/
mobile/android/app/release/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
*.iml

# Node
dashboard/node_modules/
dashboard/dist/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
